################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/MauiAppICommandProblem/FileContentIndex
/bin/Debug/net7.0-android
/obj
